.container{
background-color:red;
height:100%;
width:100%;
}

.box{
    background-color:grey;
    margin:3px;
    height:45px;
    width:45px;
    transition: width 2s ease;    
   
}

#box1:hover{
    width:500px;
}
