.dropdown button{
    font-size:40px;
    border-radius:2px;
    color:black;
    border:none;
    cursor:pointer;
   
}
.dropdown .content a{
    text-decoration:none;
    display:block;
    padding:20px;
    color:black;
    
    
}
.dropdown .content{
    background-color:rgb(188, 188, 188);
    border:solid;
    border-color:white;
    position:fixed;
    min-height:50px;
    min-width:120px;
    box-shadow:6px 6px 10px black;
    display:none;
}

.dropdown:hover .content{
    display:block;
}

.dropdown:hover button{
    background-color:hsl(160, 100%, 60%);
}

.dropdown  button .content:hover{
    background-color:hsl(33, 100%, 78%);
}


