#btn{
    font-size:1.5em;
    margin-top:3em;
}


div{
    font-size:2em;
    font-weight:bold;
}

#label{
    font-size:1.5em;
    font-weight:bold;
}
#selected{
    font-size:1.5em;
    font-weight:bold;
}